body {
    font-family: Arial;
    background-color: #0f172a;
    color: white;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #22c55e;
    border: none;
    cursor: pointer;
}

.left-text {
	text-align: left;
}